*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#353a6e;
}

header{
    background:#353a6e;
    color:white;
    padding:30px;
    text-align:center;
}

nav{
    background:#2ed106;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
}

section{
    width:80%;
    margin:auto;
    padding:40px;
}

img{
    width:180px;
    border-radius:50%;
    display:block;
    margin:auto;
}

h2{
    margin:20px 0;
    color:#0066cc;
}

.card,
.projet{
    background:rgb(192, 206, 4);
    padding:20px;
    margin:15px 0;
    border-radius:10px;
    box-shadow:0 0 8px gray;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}